body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100dvh;
}

.transitionContainer {
  transition: 0.2s;
  opacity: 1;
}

.transitionContainer.transitioning {
  opacity: 0;
  scale: 0.99;
  transform: 3px 0;
}

.convertContainer {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
  background: var(--bg-l1);
  border: var(--border);
}

.convertContainer>p {
  margin: 6px;
}