body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100dvh;
  font-variant-numeric: tabular-nums;
}

.transitionContainer {
  transition: 0.2s;
  opacity: 1;
}

.transitionContainer.transitioning {
  opacity: 0;
  scale: 0.99;
  transform: 3px 0;
}

.convertContainer {
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 20px;
  background: var(--bg-l1);
  border: 1px solid var(--border);
  min-width: 20ch;
  text-align: center;
}

.convertContainer>p {
  margin: 6px;
}

.conversionProgress {
  width: 100%;
  height: 10px;
  border: 1px solid var(--border);
  background: var(--bg-l2);
  border-radius: 99px;
  position: relative;
  overflow: clip;
}

.conversionProgress::after {
  content: "";
  position: absolute;
  transition: width 0.2s;
  width: calc(var(--progress) * 100% + 10px);
  height: 100%;
  background: var(--accent);
  left: -10px;
  border-radius: 99px;
}