.extDropdown select {
    padding: 8px 10px;
    border-radius: 20px;
    border: 1px solid var(--border);
    background: var(--bg-l2);
}

.extDropdown select:hover {
    border: 1px solid var(--border-focus);
}